{{> head }}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<body class="dark-theme">
<div class="main-wrapper">
    {{> navbar}}

    <!-- Тело страницы. Секции Hero и Main будут вставляться сюда -->
    {{{ body }}}
</div>

{{> footer}}
</body>
</html>
